@*@model IEnumerable<LeaveApplication.Models.Leave>*@
@model IEnumerable<LeaveApplication.Models.LeaveList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Request.IsAuthenticated)
{
    <p>@Html.ActionLink("Create New", "Create") | @Html.ActionLink("Upload", "Upload")</p>
}    

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LeaveDate)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.EmployeeID)*@            
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.LTypeID)*@
            @Html.DisplayNameFor(model => model.LTypeName)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ReasonID)*@
            @Html.DisplayNameFor(model => model.ReasonDesc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LeaveDate)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.EmployeeID)*@
            @Html.DisplayFor(modelItem => item.EmployeeName)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.LTypeID)*@
            @Html.DisplayFor(modelItem => item.LTypeName)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.ReasonID)*@
            @Html.DisplayFor(modelItem => item.ReasonDesc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Copy", "Create", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
