@model LeaveApplication.Models.Report

@{
    ViewBag.Title = "Report";
}

<h2>Report</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Report</h4>
        <hr />
        @Html.ValidationSummary(true)
        
        <div class="form-group">
            @Html.LabelFor(model => model.Criteria.StartDate, new { @class = "control-label col-md-2" })
            @*@Html.Label("Start Date:", new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.LeaveDate)*@
                @*@Html.TextBox("StartDate", "", new { @class = "form-control datefield" })*@
                @Html.TextBoxFor(model => model.Criteria.StartDate, "{0:MM/dd/yyyy}", new { @class = "form-control datefield" })
                @Html.ValidationMessageFor(model => model.Criteria.StartDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Criteria.EndDate, new { @class = "control-label col-md-2" })
            @*@Html.Label("End Date:", new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.LeaveDate)*@
                @*@Html.TextBox("EndDate", "", new { @class = "form-control datefield" })*@
                @Html.TextBoxFor(model => model.Criteria.EndDate, "{0:MM/dd/yyyy}", new { @class = "form-control datefield" })
                @Html.ValidationMessageFor(model => model.Criteria.EndDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Criteria.LTypeID, new { @class = "control-label col-md-2" })
            @*@Html.Label("Leave Type:", new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.LTypeID)*@
                @Html.DropDownListFor(model => model.Criteria.LTypeID, (SelectList)ViewBag.LTypes, "-- All --")
                @*@Html.ValidationMessageFor(model => model.Criteria.LTypeID)*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Generate" class="btn btn-default" />
            </div>
        </div>
    </div>

    if (Model.ReportResults != null && Model.ReportResults.Count() > 0)
    {
        <div class="form-group">
            <p>
                @Html.ActionLink("Get Chart", "GetChart", Model.Criteria, new { target = "_blank" })
            </p>
        </div>
    
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LTypName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NoOfDays)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.ReportResults)
            {
                if (item.NoOfDays > 0)
                { 
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LTypName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoOfDays)
                        </td>            
                    </tr>
                }
            }
        </table>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

